* {
  outline: 2px red solid;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.info {
  position: absolute;
  width: 220px;
  margin-left: 20px;
  font-size: 15pt;
  top: 0px;
  z-index: 1;
  background-color: grey;
}

#canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -960px;
  /* canvas の width/2 */
  margin-top: -540px;
  /* canvas の height/2 */
  z-index: 0;
}